.main-chat
  .main-chat__header
    .left-header
      .left-header__group
        個人
      .left-header__membername
        Member : tomomi
    
    .right-header
      = link_to "Edit","#", class: "btn"
  .main-chat__message
    .message-group
        .message-group__info
          .name
            tomomi
          .time
            2020
        .message-group__body
          こんにちは

  .main-chat__form
    .main-chat__form__message
      %form.main-chat__form__message__text
        %input{name: "text", placeholder: "type a message", type: "text-field"}
      .main-chat__form__message__image
        %label{class: "input-box__image"}
          = icon('far', 'image', class: "size")
          %input{type: "file", class: "hidden"}
    .main-chat__form__submit
      %input{class: "submit-btn", type: "submit", value: "Send"}
      