.side-bar
  .side-bar__user
    .side-bar__user--info
      .side-bar__user--info__name
        tomomi
      .side-bar__user--info__icons
        = link_to "#", class: "contents__btn contents__btn--edit" do 
          =icon('far', 'edit')
        = link_to "#", class: "contents__btn contents__btn--cog" do
          =icon('fas', 'cog')

  .side-bar__groups
    .group
      .group__name
        個人
      .group__status
        まだメッセージがありません
    .group
      .group__name
        個人
      .group__status
        まだメッセージがありません