$white-color: #ffffff;
$aqua-color: #38aef0;
$deepgrey-color: #333333;
$light-grey-color: #999999;


a {
  text-decoration: none;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  float: left;

  &__user{
    height: 100px;
    width: 300px;
    background-color: #253141;
    top: 0;
    left: 0;
    line-height: 100px;
    display: flex;

    &--info{
      height: 20px;
      width: 260px;
      line-height: 20px;
      margin: auto 20px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      &__name{
        height: 20px;
        width: 60px;
        color: $white-color;
        font-weight: bold;
      }
      a {
        color: $white-color;
      }
      &__icons{
        height: 20px;
        width: 60px;
        text-align: right;
        text-decoration: none;
        
        &__btn{
          &--edit{
            padding-right: 5px;
          }

        }
      }
    }
  }

  &__groups{
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    left: 0;
  }
  .group{
    height: 91px;
    width: 300px;
    padding: 20px 20px 40px 20px;

    &__name {
      height: 15px;
      width: 260px;
      color: $white-color;
      font-size: 15px;
      font-weight: bold;
      line-height: 15px;
      margin-bottom: 5px;
      text-align: left;
    }
    &__status {
      height: 11px;
      width: 260px;
      color: $white-color;
      font-size: 11px;
      line-height: 11px;
    }
  }
}

.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $white-color;
  float: left;
  &__header{
    height: 100px;
    width: 100%;
    background-color: $white-color;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    .left-header {
      float: left;

      &__group {
        font-size: 20px;
        color: $deepgrey-color;
        margin-top: 35px;
      }
      &__membername {
        font-size: 12px;
        color: $light-grey-color;
        margin-top: 15px;
        display: flex;
      }
    }
  
    .right-header {
      float: right;
      height: 40px;
      width: 72px;
      border: 1px solid $aqua-color;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      
    }
    a {
      color: $aqua-color;
    }
  }
  

  &__message{
    height: calc(100vh - 100px - 90px);
    width: 100%;
    background-color: #fafafa;
    padding-left: 40px;
    padding-top: 35px;
  }
  .message-group {
    padding: 0 0 46px;
    &__info {
      display: flex;
    }
    .name {
      color: $deepgrey-color;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      margin-right: 10px;
    }
    .time {
      color: $light-grey-color;
      font-size: 12px;
    }
    &__body {
      color: #434A54;
      font-size: 14px;
      line-height: 15px;
      padding-top: 12px;
      margin-bottom: 46px;
    }
  }

  &__form{
    height: 90px;
    width: calc(100vw-300px);
    bottom: 0;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;

    &__message {
      background-color: $white-color;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 0 10px;

      &__text {
        line-height: 50px;
        width: 100%;
        left: 0;

        input {
          float: left;
          line-height: 50px;
          width: 100%;
        }
      }
      
      &__image {
        line-height: 50px;
      }
      .size {
        font-size: 1.5em;
      }
      .hidden {
        display: none;
      }
    }
  
    &__submit {
      background-color: $aqua-color;
      height: 50px;
      line-height: 50px;
      width: 100px;
      margin-left: 15px;
      text-align: center;
      
      .submit-btn {
        color: $white-color;
      }
    }
  }
}